*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
libs/
src/androidTest/
src/main/assets/
src/main/java/com/hussainmukadam/droidtunes/app/
src/test/
